body{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500px;
}

.content {
  width: 66%;
  padding-left: 17%;
}

a { color:black; }       
a:visited { color: black; } 
a:hover { color: red;}