body{
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}

.content {
  width: 66%;
  padding-left: 17%;
}

.a2 {
    position: fixed;
    top: 10px;
    left: 20px;

    font-size: xx-large;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}