a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
a { color: blue; }       
/* a:visited { color: rgb(0,0,25); }  */
a:hover { color: rgb(255, 0, 0);}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500px;
}


.container{
  padding: 10px;
}

#title{
  text-align: center;
  font-size: 10em;
  margin-bottom: 10px;
}

.name {
  font-family: Verdana, sans-serif;
  margin-bottom: 4px;   
}

.tagline {
  font-family: Verdana, sans-serif;
  margin-top: 0;
  font-weight: normal;       
  font-size: 15px;
}

.navbar {
  width: 100%;
  border: 1pt solid black;
  font-family: JetBrains Mono, monospace;
  /* font-style: italic; */
  font-weight: bold;
  background-color: white;
}

.navbar a {
  padding: 0px 15px;
  display: inline-block;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: large;
}

.navbar a:hover {
  background-color:blue;
  color:white
}

.layout {
  display: flex;
}

.content {
  width: 66%;
  padding-left: 10px;
}

.sidebar {
  width: 34%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding-right: 20px;
}

.sidebar img {
  display: block;
}

.profile-pic {
  border: 1px solid black;
}

