<style>
    body{
        padding-left: 25%;
        padding-right: 25%
    }
</style>
<h1>Logic and Functional Programming</h1>
<h3>Useful Links:</h3>
<ol>
    <li><a href="https://subodhvsharma.github.io/course/col765/">2021-22 Edition, Prof. Sharma</a></li>
    <li><a href="https://www.cse.iitd.ac.in/~sak/courses/ilfp/2019-20/2019-20.index.html">2019-20 Edition, Prof. Kumar</a></li>
</ol>

<h3>Lecture Notes (Nothing Yet!):</h3>
<table border="1">
    <tr>
    <th>#Lecture</th>
    <th>Notes</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Introduction</td>
    </tr>
</table>

<h3>Self-Study</h3>
<h4>Learning OCaml</h4>
