<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nimitt</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  
  <script>
      MathJax = {
          tex: {
              inlineMath: [['$', '$'], ['\\(', '\\)']],
              displayMath: [['$$', '$$'], ['\\[', '\\]']]
          },
          svg: {
              fontCache: 'global'
          }
      };
  </script>

  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js" async></script>

  <style>
        body {
            padding-left: 20%;
            padding-right:20%;
            font-size: large;
        }
        blockquote{
            font-style: italic;
        }
    </style>
  <link rel="stylesheet" href="style_me_and_my_mother.css">
</head>
<body>
  <header class="site-header">
  </header>
  
  <nav class="navbar">
      <a href="../index.html">Home</a>
      <a href="../fragments.html">Fragments</a>
  </nav>

  <h1>Advanced Data Structures</h1>
  <h3>Useful Links</h3>
  <ol>
    <li></li>
  </ol>
</body>
</html>