<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nimitt -- fragments</title>
  <link rel="stylesheet" href="../style.css">
  <script src="script.js"></script>
</head>
<body>
  <header class="site-header">
  </header>
  
    <main class="content">
      <div class="navbar">
      <p align="CENTER">
        <a href="../../">home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../lemma/">lemma&nbsp;&nbsp;&nbsp;&nbsp;</a>   <a href="../publications.html">publications</a>
      </p>
      <p align="CENTER">fragments&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="../personal/">personal</a></p>
      </div>
      <hr>
      </div>

      <h3>A collection of just about anything academic</h3>
      <ol>
        <li><a href="small_weights.html">Efficiently finding small representations for LTFs</a></li>
        <li><a href="ApproxDNF.pdf">Karp-Luby Approximation Algorithm for #DNF</a></li>
        <li><a href="roabpvsmd3c.html">Separation Between ROABPs and Multilinear Depth Three Circuits</a></li>
      </ol>
    
    </main>


    <footer>
      <ol>
      </ol>
    </footer>
  

</body>
</html>
