body{
  font-family: 'Courier New', Courier, monospace;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a { color: blue; }       
a:hover { color: rgb(255, 0, 0);}


@media (min-width: 1024px) {
  body {
    padding-left: 25%;
    padding-right: 25%;
  }
}