body{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10px;
}

.a {
    position: fixed;
    top: 10px;
    left: 10px;

    font-size: xx-large;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0px;   
  margin-top: 0px;
  font-style: italic;
}

.tagline {
  font-family: Verdana, sans-serif;
  margin-top: 0;
  font-weight: normal;       
  font-size: 15px;
}

.moretable{
    border: 1pt solid black;
}

.moretable th,
.moretable td {
    padding: 0.4em 1.2em;
    text-align: left;
}

