a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
a { color: black; }       
a:visited { color: black; } 
a:hover { color: red;}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: white;
}

.a {
    position: fixed;
    top: 10px;
    left: 20px;

    font-size: xx-large;
    text-decoration: none;
    color: white;
}


#title{
  text-align: center;
  font-size: 10em;
  margin-bottom: 10px;
}

.name {
  font-family: Verdana, sans-serif;
  margin-bottom: 4px; 
  color: black;  
}

.tagline {
  font-family: Verdana, sans-serif;
  margin-top: 0;
  font-weight: normal;       
  font-size: 15px;
}


.display {
  background-color: white;
  height: 2000px;
}

