.body{
    padding-left: 30%;
    padding-right: 30%;
}

.display{
    padding: 4%;
}

.navbar {
  width: 100%;
  border: 1pt solid black;
  font-family: JetBrains Mono, monospace;
  font-weight: bold;
}

.navbar a {
  padding: 0px 15px;
  display: inline-block;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: large;
}

.navbar a:hover {
  background-color:rgb(200,200,40);
}

.memothe{
  background: rgb(200,200,40);
  padding: 3%;
  border: 1pt solid black;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}