body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500px;
}


#title{
  text-align: center;
  font-size: 10em;
  margin-bottom: 10px;
}


.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 4px;   
  margin-top: 0px;
  /* font-style: italic; */
}

.name {
    display: inline-block;
    animation: intro 2s ease-out forwards;
}

@keyframes intro {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.a {
    position: fixed;
    top: 10px;
    left: 20px;

    font-size: xx-large;
    text-decoration: none;
    color: black;
}

.tagline {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0;
  font-weight: normal;       
  font-size: 20px;
}

.layout {
  display: flex;
  height: 1500px;
}

.sidebarleft {
  width: 25%;
  padding-left: 2%;
}


.content {
  width: 75%;
  padding: 50px;
  padding-top: 0px;
}

.sidebar {
  width: 25%;
  height: 1500px;
  /* border: 1pt solid black; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  /* background-color: cornflowerblue; */
}

.easy{
  background-color: greenyellow;
}


.race{
  background-color: aqua;
}

.tempo {
  background-color: rgb(237, 112, 112);
}

.long {
  background-color: rosybrown;
}